logs/Non-Linaerity-Model 1665057514/train/events.out.tfevents.1665057514.LAPTOP-PE72IHOP.19664.2.v2
logs/Non-Linaerity-Model 1665057514/train/events.out.tfevents.1665057515.LAPTOP-PE72IHOP.profile-empty
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.input_pipeline.pb
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.kernel_stats.pb
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.memory_profile.json.gz
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.overview_page.pb
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.tensorflow_stats.pb
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.trace.json.gz
logs/Non-Linaerity-Model 1665057514/train/plugins/profile/2022_10_06_11_58_35/LAPTOP-PE72IHOP.xplane.pb
